Location/app/.idea/compiler.xml
Location/app/.idea/encodings.xml
Location/app/.idea/gradle.xml
Location/app/.idea/libraries/appcompat_v7_23_1_1.xml
Location/app/.idea/libraries/cardview_v7_23_1_1.xml
Location/app/.idea/libraries/design_23_1_1.xml
Location/app/.idea/libraries/play_services_base_8_4_0.xml
Location/app/.idea/libraries/play_services_maps_8_4_0.xml
Location/app/.idea/libraries/recyclerview_v7_23_1_1.xml
Location/app/.idea/libraries/support_annotations_23_1_1.xml
Location/app/.idea/libraries/support_v4_23_1_1.xml
Location/app/.idea/misc.xml
Location/app/.idea/modules.xml
Location/app/.idea/runConfigurations.xml
Location/app/.idea/vcs.xml
Location/app/.idea/workspace.xml
Location/app/local.properties
